// Colors HTML/CSS
$primaryColor: #DA106C;
$secondaryColor: #7E1EDA;
$white: #fff;
$black: #000;
$lightGrey: #F2F2F2;
$border: #707070;
$mintGreen: #C1F0DD;
$backgroundColor: #FDFCFF;
$shadow: rgba(0, 0, 0, 0.1);

html,
body,
#root{
	width: 100%;
	overflow-x: hidden;
}

// Navigation/header
.login-header{
	background: #DA106C;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40%;
	z-index: -1;

	&:after{
		content: " ";
		position: inherit;
		bottom: -8em;
		z-index: -1;
		border-top: 8em solid $primaryColor;
		border-right: 22.5em solid transparent;
	}
}

h1{
	font-size: 1.5em;
}

.login-block{
	display: block;

	.logo{
		background-image: url('../assets/logo_lijn5_gray.png');
		background-repeat: no-repeat;
		background-position: right;
	}

	background: $white;
	width: 80%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 3em auto;
	padding: 1.5em;
	border-radius: 1em;
	box-shadow: 0 0.5em 1em 0 $shadow;

		p{
			margin-top: 2em;
			display: inline-block;
			border-bottom: 1px solid black;
			margin-right: 0.5em;
			padding-right: 1em;
			cursor: pointer;

			&:hover,
			&:focus{
				border-bottom: 1px solid $primaryColor;
				color: $primaryColor;
			}
		}
		form{
			display: block;
			margin-top: 1em;
			fieldset{

				label{
					display: block;
					margin-bottom: 1em;

					input{
						display: block;
						border: none;
						border-bottom: 1px solid black;
						color: gray;
						width: 100%;

						&:hover,
						&:focus{
							border-bottom: 1px solid $primaryColor;
						}
					}
				}
			}
		}
}

.btn{
	border: none;
	border: none;
	text-transform: uppercase;
	color: white;
	width: 100%;
	margin: 0;
	margin-top: 1em;
	padding: 0.6em;
	border-radius: 0.5em;

	&:hover,
	&:focus{
		color: black;
	}
}

.btn-pink{
	background: $primaryColor;

	&:hover,
	&:focus{
		background: rgba(222, 16, 105, 0.85)
	}
}


/* Media Query for Mobile Devices */ 
@media (max-width: 480px) { 
    body { 
        background-color: red; 
    } 

    .login-block{
	display: block;

	.logo{
		img{
			width: 100%
		}
	}


} 

/* Media Query for low resolution  Tablets, Ipads */ 
@media (min-width: 481px){ 
    body { 
        background-color: yellow; 
    } 
} 

// MIN/MAX WIDTH low resolution  Tablets, Ipads 
@media (min-width: 481px) and (max-width: 767px) { 

}
  
/* Media Query for Tablets Ipads portrait mode */ 
@media (min-width: 768px){ 
    body { 
        background-color: blue; 
    } 

    .login-block{
    	.logo{

			img{
				width: 10em;
			}
		}
    }
} 

// MIN/MAX WIDTH Tablets Ipads portrait mode 
@media (min-width: 768px) and (max-width: 1024px){ 

} 
  
/* Media Query for Laptops and Desktops */ 
@media (min-width: 1025px){ 
    body { 
        background-color: green; 
    } 
} 

// MIN/MAX WIDTH Laptops and Desktops */ 
@media (min-width: 1025px) and (max-width: 1280px){ 

}
  
/* Media Query for Large screens */ 
@media (min-width: 1281px) { 
    body { 
        background-color: white; 
    } 
} 