html,
body,
#root {
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif; }

#root .d-none {
  display: none; }

#root .d-show {
  display: block; }

#root .container {
  margin-top: 3.2em; }

#root .background-gray {
  background-color: #FDFCFF;
  margin-top: 8.7em; }

#root .btn-container {
  margin: -1em 0em 1em 0em; }
  #root .btn-container .col {
    margin: 0 1.5em;
    padding: 0; }

#root .login-header {
  background: #DA106C;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  z-index: -1; }
  #root .login-header:after {
    content: " ";
    position: inherit;
    bottom: -16em;
    z-index: -1;
    border-top: 16em solid #DA106C;
    border-right: 85.5em solid transparent; }

#root h1 {
  font-size: 1.5em; }

#root .btn {
  border: none;
  border: none;
  text-transform: uppercase;
  color: white;
  margin: 0;
  margin-top: 1em;
  padding: 0.6em;
  border-radius: 0.5em;
  width: 100%;
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.1); }
  #root .btn:hover, #root .btn:focus {
    color: black; }

#root .btn-pink {
  background: #DA106C; }
  #root .btn-pink:hover, #root .btn-pink:focus {
    background: rgba(222, 16, 105, 0.85); }

#root .btn-red {
  background: #FD9393; }
  #root .btn-red:hover, #root .btn-red:focus {
    opacity: 0.6; }

#root .btn-green {
  background: #7DC8BC; }
  #root .btn-green:hover, #root .btn-green:focus {
    opacity: 0.6; }

#root .btn-orange {
  background: #FFA474; }
  #root .btn-orange:hover, #root .btn-orange:focus {
    opacity: 0.6; }

#root .login-page {
  display: block;
  background: #fff;
  width: 80%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 3em auto;
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.1); }
  #root .login-page .logo {
    background-image: url("../assets/images/logo_lijn5_gray.png");
    background-repeat: no-repeat;
    background-position: right; }
  #root .login-page p {
    margin-top: 2em;
    display: inline-block;
    border-bottom: 1px solid black;
    margin-right: 0.5em;
    padding-right: 1em;
    cursor: pointer; }
    #root .login-page p:hover, #root .login-page p:focus {
      border-bottom: 1px solid #DA106C;
      color: #DA106C; }
  #root .login-page form {
    display: block;
    margin-top: 1em; }
    #root .login-page form fieldset label {
      display: block;
      margin-bottom: 1em; }
      #root .login-page form fieldset label input {
        display: block;
        border: none;
        border-bottom: 1px solid black;
        color: gray;
        width: 100%; }
        #root .login-page form fieldset label input:hover, #root .login-page form fieldset label input:focus {
          border-bottom: 1px solid #DA106C; }

#root header {
  position: fixed;
  background-color: #DA106C;
  width: 100%;
  z-index: 10; }
  #root header nav {
    padding: 0 1em; }
    #root header nav ul {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0; }
      #root header nav ul .Home {
        background-image: url("../assets/images/home.png"); }
      #root header nav ul .Terug {
        background-image: url("../assets/images/terug.png"); }
      #root header nav ul .to-do {
        background-image: url("../assets/images/to-do.png"); }
      #root header nav ul .help {
        background-image: url("../assets/images/help.png"); }
      #root header nav ul li {
        list-style: none;
        font-size: 1em;
        color: #fff;
        margin: 0.5em 0em; }
        #root header nav ul li a {
          padding-left: 1.2em;
          background-size: auto 1em;
          background-repeat: no-repeat;
          color: white;
          text-decoration: none;
          background-position: center;
          color: red; }
          #root header nav ul li a:hover, #root header nav ul li a:focus {
            opacity: 0.9;
            text-decoration: none; }
        #root header nav ul li:first-child {
          flex-grow: 1; }
          #root header nav ul li:first-child a {
            background-position: left;
            color: white;
            padding-left: 1.5em; }
        #root header nav ul li:last-child a {
          margin-left: 1em; }

#root header.header2 {
  padding-bottom: 2em;
  margin-bottom: 2em; }

#root .to-spend {
  background: white;
  width: 70%;
  left: 0;
  right: 0;
  border: 1px solid #DEE2E6;
  border-radius: 0.5em;
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 15;
  margin-top: 4em; }
  #root .to-spend div {
    display: block;
    padding: 0.5em 1em; }
    #root .to-spend div p {
      display: block;
      text-align: center;
      margin: 0;
      padding: 0; }
      #root .to-spend div p:last-child {
        font-size: 1.3em; }

#root .money-block {
  background-color: #C1F0DD;
  margin: 1.5em;
  padding: 1em;
  border-radius: 1em;
  background-image: url("../assets/images/hand.png");
  background-repeat: no-repeat;
  background-position: left 1em;
  background-size: 85% 70%; }
  #root .money-block p span {
    text-decoration: line-through;
    text-decoration-color: red; }
  #root .money-block p:first-child {
    background: white;
    border-radius: 0.5em;
    text-align: center;
    width: max-content;
    margin: 0 auto;
    padding: 0.3em 1em; }
  #root .money-block p:last-child {
    margin: 0 auto;
    width: 80%; }
  #root .money-block .money {
    font-size: 2.5em;
    text-align: center;
    color: #fff;
    margin: 1em auto;
    padding-top: 1em; }

#root .home-page .add-activity {
  margin: 1.5em;
  padding: 0; }

#root .home-page .carousel {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  scroll-behavior: smooth;
  overflow-x: hidden; }
  #root .home-page .carousel a {
    font-size: 0; }
  #root .home-page .carousel a.add-category {
    display: block;
    font-size: 1em;
    margin: 1.5em;
    width: auto;
    margin-bottom: 1.5em; }
  #root .home-page .carousel .carousel-prev,
  #root .home-page .carousel .carousel-next {
    content: '';
    z-index: 1;
    background-color: rgba(222, 16, 105, 0.1);
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    cursor: pointer; }
    #root .home-page .carousel .carousel-prev:hover, #root .home-page .carousel .carousel-prev:focus,
    #root .home-page .carousel .carousel-next:hover,
    #root .home-page .carousel .carousel-next:focus {
      background-color: #DA106C;
      opacity: 0.5; }
  #root .home-page .carousel .carousel-prev,
  #root .home-page .carousel .carousel-next {
    position: absolute;
    top: 0;
    width: 4rem;
    height: 3rem; }
  #root .home-page .carousel .carousel-prev {
    content: '';
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E"); }
  #root .home-page .carousel .carousel-next {
    content: '';
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E"); }
  #root .home-page .carousel .carousel-dots ul {
    display: flex;
    padding: 0;
    margin: 0 auto;
    width: max-content; }
    #root .home-page .carousel .carousel-dots ul li {
      list-style: none; }
      #root .home-page .carousel .carousel-dots ul li a {
        width: 1rem;
        height: 1rem;
        background-color: #fff;
        border: 1px solid #DA106C;
        display: block;
        font-size: 0;
        margin: 0.5rem;
        border-radius: 50%; }
        #root .home-page .carousel .carousel-dots ul li a:hover, #root .home-page .carousel .carousel-dots ul li a:focus {
          background-color: rgba(222, 16, 105, 0.1); }
      #root .home-page .carousel .carousel-dots ul li a.selected {
        background-color: #DA106C;
        border: 1px solid #DA106C; }
  #root .home-page .carousel .slide {
    flex: 0 0 100%;
    padding: 0; }
  #root .home-page .carousel label {
    width: 100%;
    padding: 1.5em 0;
    background-color: #FDFCFF;
    margin-bottom: 0; }
    #root .home-page .carousel label > * {
      display: block;
      text-align: center; }
    #root .home-page .carousel label h2 {
      width: max-content;
      margin: 0 auto;
      font-size: 1em; }
      #root .home-page .carousel label h2 span {
        display: inline-block;
        margin-right: 0.3em; }
        #root .home-page .carousel label h2 span img {
          height: 1.2em;
          vertical-align: initial; }
    #root .home-page .carousel label p {
      background-color: #F2F2F2;
      width: auto;
      padding: 0.5em;
      border-radius: 0.5em;
      margin: 1.5em; }
    #root .home-page .carousel label a {
      color: #DA106C;
      font-size: 1em;
      width: max-content;
      margin: 0 auto; }
      #root .home-page .carousel label a span {
        font-size: 2em;
        vertical-align: middle; }
      #root .home-page .carousel label a:hover, #root .home-page .carousel label a:focus {
        text-decoration: none;
        opacity: 0.7; }

#root .plus-icon {
  background-image: url("../assets/images/add.png");
  background-repeat: no-repeat;
  background-position: 1em;
  background-size: 1.3em; }
  #root .plus-icon:hover, #root .plus-icon:focus {
    background-image: url("../assets/images/add.png");
    background-repeat: no-repeat;
    background-position: 1em;
    background-size: 1.3em;
    color: #fff; }

#root .groceries {
  background-image: url("../assets/images/purple_groceries.png"); }

#root .clothes {
  background-image: url("../assets/images/purple_clothes.png"); }

#root .free_time {
  background-image: url("../assets/images/purple_free_time.png"); }

#root .save_money {
  background-image: url("../assets/images/purple_sparen.png"); }

#root .fixed_charges {
  background-image: url("../assets/images/purple_vaste_lasten.png"); }

#root .help {
  background-image: url("../assets/images/purple_help.png"); }

#root .call {
  background-image: url("../assets/images/purple_call.png"); }

#root .chat {
  background-image: url("../assets/images/purple_chat.png"); }

#root .tips {
  background-image: url("../assets/images/purple_tips.png"); }

#root .email {
  background-image: url("../assets/images/purple_email.png"); }

#root .see_money {
  background-image: url("../assets/images/purple_eye.png"); }

#root .add_save {
  background-image: url("../assets/images/purple_jar.png"); }

#root .take_money {
  background-image: url("../assets/images/purple_arrow_down.png"); }

#root .grooming {
  background-image: url("../assets/images/purple_grooming.png"); }

#root nav.category ul {
  padding: 0;
  margin: 1.5em; }
  #root nav.category ul li {
    list-style: none;
    margin-bottom: 1.5em; }
    #root nav.category ul li a {
      width: 100%;
      display: block;
      padding: 1em;
      border: 1px solid #DEE2E6;
      background: #FCFCFC;
      text-decoration: none;
      border-radius: 0.5em;
      box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.1);
      font-size: 1.2em;
      color: black; }
      #root nav.category ul li a span {
        display: inline-block;
        width: 5rem;
        height: 5rem;
        vertical-align: middle;
        background-size: auto 80%;
        background-repeat: no-repeat;
        background-position: center center;
        border: 1px solid #DEE2E6;
        margin-right: 1em;
        border-radius: 0.3em;
        background-color: white; }
      #root nav.category ul li a:hover, #root nav.category ul li a:focus {
        color: #7E1EDA; }
        #root nav.category ul li a:hover span, #root nav.category ul li a:focus span {
          background-color: #7E1EDA; }

#root .add-category-page nav.category ul li a:hover .groceries, #root .add-category-page nav.category ul li a:focus .groceries {
  background-image: url("../assets/images/white_groceries.png"); }

#root .add-category-page nav.category ul li a:hover .clothes, #root .add-category-page nav.category ul li a:focus .clothes {
  background-image: url("../assets/images/white_clothes.png"); }

#root .add-category-page nav.category ul li a:hover .free_time, #root .add-category-page nav.category ul li a:focus .free_time {
  background-image: url("../assets/images/white_free_time.png"); }

#root .add-category-page nav.category ul li a:hover .save_money, #root .add-category-page nav.category ul li a:focus .save_money {
  background-image: url("../assets/images/white_sparen.png"); }

#root .add-category-page nav.category ul li a:hover .fixed_charges, #root .add-category-page nav.category ul li a:focus .fixed_charges {
  background-image: url("../assets/images/white_vaste_lasten.png"); }

#root .add-category-page nav.category ul li a:hover .help, #root .add-category-page nav.category ul li a:focus .help {
  background-image: url("../assets/images/white_help.png"); }

#root .add-category-page nav.category ul li a:hover .grooming, #root .add-category-page nav.category ul li a:focus .grooming {
  background-image: url("../assets/images/white_grooming.png"); }

#root .help-page {
  margin-top: 3.5em; }
  #root .help-page nav.category ul li a span {
    background-size: auto 65%; }
  #root .help-page nav.category ul li a:hover .call, #root .help-page nav.category ul li a:focus .call {
    background-image: url("../assets/images/white_call.png"); }
  #root .help-page nav.category ul li a:hover .chat, #root .help-page nav.category ul li a:focus .chat {
    background-image: url("../assets/images/white_chat.png"); }
  #root .help-page nav.category ul li a:hover .tips, #root .help-page nav.category ul li a:focus .tips {
    background-image: url("../assets/images/white_tips.png"); }
  #root .help-page nav.category ul li a:hover .email, #root .help-page nav.category ul li a:focus .email {
    background-image: url("../assets/images/white_email.png"); }

#root .overview-page h2 {
  text-align: center;
  margin: 0 auto; }

#root .overview-page .category-image {
  height: 7em;
  width: 7em;
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 1.5em;
  background-size: contain;
  margin-bottom: 1em; }

#root .overview-page .category-btn {
  margin: 1.5em;
  padding: 0;
  margin-top: 0; }

#root .save-money-page nav.category ul li a span {
  background-size: 70% auto; }

#root .save-money-page nav.category ul li a:hover .see_money, #root .save-money-page nav.category ul li a:focus .see_money {
  background-image: url("../assets/images/white_eye.png"); }

#root .save-money-page nav.category ul li a:hover .add_save, #root .save-money-page nav.category ul li a:focus .add_save {
  background-image: url("../assets/images/white_jar.png"); }

#root .save-money-page nav.category ul li a:hover .take_money, #root .save-money-page nav.category ul li a:focus .take_money {
  background-image: url("../assets/images/white_arrow_down.png"); }

#root .piggybank-view-page {
  height: 80vh;
  background-image: url("../assets/images/jar.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 4.7em; }
  #root .piggybank-view-page .jar-money {
    margin-top: 7em; }
    #root .piggybank-view-page .jar-money .col {
      text-align: center;
      font-size: 2em;
      max-width: 60vw;
      margin: 0 auto;
      margin-top: 2em; }
      #root .piggybank-view-page .jar-money .col span {
        color: #DA106C;
        display: block; }

#root .clothes-page-two {
  padding-top: 10em;
  background-color: rgba(222, 16, 105, 0.1); }
  #root .clothes-page-two .col {
    margin: 0.5em 0;
    flex: auto; }
    #root .clothes-page-two .col label {
      background-color: rgba(255, 255, 255, 0.6);
      display: flex;
      padding: 1em; }
      #root .clothes-page-two .col label input {
        margin-right: 1em; }
      #root .clothes-page-two .col label span {
        display: none; }
      #root .clothes-page-two .col label section {
        background-color: #fff;
        border-radius: 0.5em;
        padding: 0.5em;
        width: 5rem;
        display: block; }
        #root .clothes-page-two .col label section img {
          width: 100%;
          display: inline-block; }
      #root .clothes-page-two .col label p {
        margin: auto 1em; }
  #root .clothes-page-two .option-block {
    padding: 1.5em;
    background-color: #fff;
    border-radius: 2em 2em 0 0; }
    #root .clothes-page-two .option-block p {
      font-size: 1.2em;
      text-align: center; }
    #root .clothes-page-two .option-block .no-img {
      margin: 1em auto;
      width: 50%;
      display: block; }
    #root .clothes-page-two .option-block .no-btn + p {
      display: none; }
      #root .clothes-page-two .option-block .no-btn + p + button {
        display: none; }
        #root .clothes-page-two .option-block .no-btn + p + button + button {
          display: none; }
          #root .clothes-page-two .option-block .no-btn + p + button + button + button {
            display: none; }

#root > .pink-list {
  margin-top: 10em; }

#root > .pink-list ~ .pink-list {
  margin-top: 0; }

#root .pink-list {
  background: rgba(222, 16, 105, 0.1);
  padding: 1.5em;
  margin-bottom: 1.5em; }
  #root .pink-list:first-of-type {
    margin-top: 4em; }
  #root .pink-list h2 {
    font-size: 1em;
    font-weight: bold;
    color: #DA106C; }
  #root .pink-list .item-list {
    flex-wrap: nowrap;
    overflow-x: scroll; }
    #root .pink-list .item-list .col {
      display: block; }
      #root .pink-list .item-list .col section {
        border: 1px solid white;
        background-color: white;
        display: block;
        width: 9rem;
        height: 9rem;
        padding: .5em;
        position: relative;
        border-radius: 0.5em; }
        #root .pink-list .item-list .col section img {
          margin: auto;
          display: inline-block;
          max-height: 8rem;
          max-width: 8rem;
          top: 0;
          bottom: 0;
          position: absolute;
          left: 0;
          right: 0; }
        #root .pink-list .item-list .col section:hover, #root .pink-list .item-list .col section:focus {
          cursor: pointer; }
      #root .pink-list .item-list .col p {
        width: max-content;
        display: inline-block;
        vertical-align: text-top;
        margin-top: 0.5em;
        margin-bottom: 0;
        width: 100%; }
      #root .pink-list .item-list .col .price-item {
        margin-top: 1em;
        width: max-content;
        vertical-align: baseline;
        margin: 0.5em; }
      #root .pink-list .item-list .col button {
        color: #7E1EDA;
        border: 1px solid #7E1EDA;
        border-radius: 50%;
        background-color: transparent;
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5em;
        margin-top: 0.5em;
        vertical-align: bottom; }
        #root .pink-list .item-list .col button:hover, #root .pink-list .item-list .col button:focus {
          background: #7E1EDA;
          color: transparent;
          cursor: pointer; }
          #root .pink-list .item-list .col button:hover:before, #root .pink-list .item-list .col button:hover:after, #root .pink-list .item-list .col button:focus:before, #root .pink-list .item-list .col button:focus:after {
            color: #fff;
            position: absolute; }
      #root .pink-list .item-list .col .remove-btn {
        display: none; }
        #root .pink-list .item-list .col .remove-btn:hover:before, #root .pink-list .item-list .col .remove-btn:focus:before {
          content: "-"; }
      #root .pink-list .item-list .col .add-btn {
        float: right; }
        #root .pink-list .item-list .col .add-btn:hover:before, #root .pink-list .item-list .col .add-btn:focus:before {
          content: "+"; }

#root .clothes-page .item-list {
  flex-wrap: wrap;
  overflow-x: auto; }
  #root .clothes-page .item-list .col label {
    padding-top: 0.5em;
    margin-bottom: 1em; }
    #root .clothes-page .item-list .col label input[type="checkbox"] {
      opacity: 0;
      position: absolute; }
    #root .clothes-page .item-list .col label span {
      position: absolute;
      opacity: 0;
      transition: 0.3s; }
    #root .clothes-page .item-list .col label input[type="checkbox"]:checked + span {
      display: block;
      color: #fff;
      background-color: #7E1EDA;
      transition: 0.3s;
      padding: 0.3em 0.7em;
      border-radius: 2em;
      z-index: 1;
      position: absolute;
      top: 0em;
      right: 2em;
      opacity: 1;
      box-shadow: 0.25em 0.25em 0.5em 0em rgba(0, 0, 0, 0.1); }

#root .pink-list.list-help-page {
  margin-top: 4.7em; }
  #root .pink-list.list-help-page .item-list {
    flex-wrap: wrap;
    overflow: auto; }
    #root .pink-list.list-help-page .item-list a {
      color: #000; }
      #root .pink-list.list-help-page .item-list a:hover, #root .pink-list.list-help-page .item-list a:focus {
        opacity: 0.95; }

#root .error-page {
  margin-top: 5.2em; }
  #root .error-page .row .col {
    margin: 1.5em;
    padding: 0; }
  #root .error-page .row .error-block {
    background-image: url("../assets/images/404.svg");
    background-size: auto;
    background-repeat: no-repeat;
    height: 20em; }

#root footer {
  position: fixed;
  bottom: 0;
  right: 1.5em; }
  #root footer nav ul {
    display: flex; }
    #root footer nav ul li {
      display: block;
      background-color: #DA106C;
      list-style: none;
      border-radius: 0.5em; }
      #root footer nav ul li:first-child {
        margin-right: 1em; }
      #root footer nav ul li a.Home {
        display: inline-block;
        background-image: url("../assets/images/home.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 2em;
        height: 4em;
        width: 4em;
        color: transparent;
        box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.1); }
      #root footer nav ul li button {
        width: 4em;
        height: 4em;
        border-radius: 0.5em;
        background-color: #DA106C;
        border: 0;
        background-image: url("../assets/images/terug.png");
        transform: rotate(90deg);
        background-repeat: no-repeat;
        background-size: 1.2em;
        background-position: center;
        box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.1); }
        #root footer nav ul li button:hover, #root footer nav ul li button:focus {
          cursor: pointer;
          background-color: #FBCFE2; }
      #root footer nav ul li:hover, #root footer nav ul li:focus {
        background-color: #FBCFE2; }

/* Media Query for Mobile Devices */
@media (max-width: 366px) {
  #root .clothes-page .item-list .col {
    flex: auto; }
    #root .clothes-page .item-list .col label {
      display: block; }
      #root .clothes-page .item-list .col label section {
        width: 100%; } }

@media (max-width: 480px) {
  #root .login-page {
    display: block; }
    #root .login-page .logo img {
      width: 100%; }
  #root header nav ul li {
    font-size: 1.4em; }
  #root .header-title {
    position: fixed;
    left: 0;
    right: 0;
    width: max-content;
    font-size: 1.4em;
    top: 0;
    color: white;
    margin: 0.65em auto;
    font-weight: 400;
    z-index: 10; } }

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) {
  #root .container {
    max-width: 100%;
    padding-left: 1.5em; }
  #root .header-title {
    position: inherit;
    font-size: 2em;
    text-align: center;
    margin-bottom: 0;
    color: #000;
    font-size: 1.4em;
    margin-bottom: -0.5em; }
  #root .money-block {
    background-position: left 0em;
    background-size: 85% 80%; }
    #root .money-block .money {
      font-size: 3em; }
  #root .to-spend {
    margin-top: 2.5em; }
  #root .background-gray {
    padding-top: 8.2em;
    margin-top: 0em;
    min-height: 100vh; }
  #root .background-gray.help-page {
    padding-top: 4em; }
  #root .clothes-page-two .option-block {
    bottom: 0;
    position: inherit; }
  #root .error-page .row .error-block {
    background-position: center; }
  #root .error-page .row .btn-block {
    margin: 0 auto;
    padding: 0; }
  #root .error-page .row .header-title {
    display: none; } }

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) {
  #root .login-page .logo img {
    width: 10em; }
  #root .money-block {
    margin: 2em auto; }
  #root .home-page .add-activity {
    margin: 2em auto; }
  #root .add-category-page .header-title {
    margin-bottom: 0em; }
  #root nav.category ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin: 1em; }
    #root nav.category ul li {
      width: 46%;
      margin: 1em; }
  #root .overview-page .category-btn {
    margin: 0 auto;
    margin-bottom: 2em; }
  #root .btn-container .col {
    margin: 0 auto;
    margin-bottom: 2em; }
  #root .clothes-page .btn-col {
    margin: 0 auto;
    padding: 0; } }

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) {
  #root .login-page {
    width: 50%; }
  #root .money-block {
    background-size: auto 100%;
    background-position: left -3em; }
    #root .money-block .money {
      font-size: 3em;
      margin: 1em auto; }
  #root .home-page {
    background-image: url("../assets/images/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    margin-top: 2.5em; }
    #root .home-page .carousel label p {
      width: 50%;
      margin: 1.5em auto; }
  #root nav.category ul {
    margin-top: 0; }
    #root nav.category ul li {
      width: 30%;
      margin: 1em;
      height: auto; }
      #root nav.category ul li a {
        height: 100%;
        text-align: center; }
        #root nav.category ul li a span {
          width: 100%;
          margin-bottom: 0.5em; } }

/* Media Query for Large screens */
@media (min-width: 1281px) {
  body {
    background-color: white; } }
